<div class="container">
  <h1>Welcome to NoteIT!</h1>
  <p><a href="http://localhost:9393/notes">  View my notes! </a></p>
  <p><a href="http://localhost:9393/notes/new">  Create new notes! </a></p>
  <p><a href="http://localhost:9393/notes/edit">  Edit your notes </a></p>
</div>

